
.op-panel {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

.op-hidden {
  display: none;
}

.op-dot {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #F00;
  border-radius: 50%;
  transform: translate(-4px, -4px);
}

.op-frustum {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  background-color: #F00;
  transform-origin: left center;
}

.op-info {
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px;
}

