
html, body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #888;
  color: #FFF;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  text-shadow: 1px 1px 2px black;
  user-select: none;
  overflow: hidden;
}

.cv-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.cv-error-panel {
  position: absolute;
  top: 33%;
  width: 30%;
  display: flex;
  margin: 0 calc(35% - 16px);
  padding: 16px;
  align-items: center;
  background-color: #A00;
  border: 1px solid #FFF;
  box-shadow: 1px 1px 2px #000;
  text-align: center;
  text-shadow: none;
  z-index: 2;
}

.cv-warning {
  background-color: #FB3;
  color: #000;
}

.cv-loading-panel {
  position: absolute;
  bottom: 16%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.cv-loading-bar {
  position: relative;
  width: 50%;
  height: 16px;
  margin: 16px 0;
  border: 1px solid #FFF;
  box-shadow: 1px 1px 2px #000;
  opacity: 0.5;
}

.cv-loading-bar-value {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 33%;
  background-color: #F00;
}

.cv-loaded {
  display: none;
}

.cv-copyright {
  position: absolute;
  bottom: 4px;
  right: 8px;
  color: #FFF;
}

.cv-copyright a {
  color: #FFF;
  font-style: italic;
  text-decoration: none;
}

.cv-hidden {
  display: none;
}
